@model EmpleadoModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="card">
    <div class="card-header">
        Eliminar Empleado
    </div>
    <div class="card-body">

        <form asp-action="Eliminar" asp-controller="Empleado" method="post">
            <input asp-for="Id" type="hidden" class="form-control">
            <div class="alert alert-danger" role="alert">
                ¿Desea eliminar el empleado: @Html.DisplayTextFor(m => m.Nombre)?
            </div>
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Listar" asp-controller="Empleado" class="btn btn-warning">Regresar</a>
        </form>
    </div>
</div>


<script>
    $(document).ready(function () {
        // mostrar el modal si ViewBag.ShowErrorModal esta en true
        var showModal = '@(ViewBag.ShowErrorModal ?? false)';
        if (showModal.toLowerCase() === 'true') {
            $('#errorModal').modal('show');
        }
    });
</script>